In [32]:
import pandas as pd
import os
import glob
import sys
import gget
import mygene

In [39]:
fpath = "/nfs/turbo/umms-indikar/shared/projects/cell_cycle/data/liu_2017/GSE94479_GROCountNorm.txt.gz"

df = pd.read_csv(fpath, sep=" ")
gene_map = dict(zip(df['refseq'].values, df['id'].values))
df.head()

,G0_G11,G0_G12,S1,S2,G2_M1,G2_M2,refseq,id
NM_032291_chr1_67210769_f,11,2,3,1,3,1,NM_032291,SGIP1
NM_013943_chr1_25170816_f,2883,3103,3717,3697,3938,4095,NM_013943,CLIC4
NM_001145277_chr1_16786585_f,460,460,416,388,410,430,NM_001145277,NECAP2
NM_052998_chr1_33586133_f,100,105,119,110,201,189,NM_052998,ADC
NM_001080397_chr1_8404228_f,84,78,187,175,76,82,NM_001080397,SLC45A1

In [43]:
dpath = "/nfs/turbo/umms-indikar/shared/projects/cell_cycle/data/liu_2017/"

file_list = glob.glob(f"{dpath}*Deseq*")

padj = 0.05
log2FoldChange = 1.0

result = []

for fpath in file_list:
    basename = os.path.basename(fpath).replace(".txt.gz", "")
    phase = basename.split("_")[-1]

    df = pd.read_csv(fpath, sep='\t')
    df = df.drop(columns=['Unnamed: 0', 'pvalue', 'stat'])
    
    df = df[df['padj'] < padj]
    df = df[df['log2FoldChange'] > log2FoldChange]
    df['phase'] = phase
    df = df.sort_values(by='log2FoldChange', ascending=False)
    
    df = df.reset_index(drop=True)
    df['gene_name'] = df['id'].map(gene_map)
    print(f"{df.shape=}")
    
    result.append(df)
    
    
result = pd.concat(result)
outpath = "../../resources/liu_2017_genes.csv"
result.to_csv(outpath, index=False)
result.head()

df.shape=(435, 7)
df.shape=(1450, 7)
df.shape=(1245, 7)

,baseMean,log2FoldChange,lfcSE,padj,id,phase,gene_name
0,397.25,3.352572,0.180089,5.377728e-75,NM_030965,G2MvsS,ST6GALNAC5
1,148.75,2.936892,0.233366,1.619289e-34,NM_005068,G2MvsS,SIM1
2,1000.50,2.750866,0.114691,2.866173e-124,NM_032427,G2MvsS,MAML2
3,1634.75,2.732106,0.097103,4.659358e-171,NM_001127384,G2MvsS,CTNNA3
4,58.50,2.701683,0.305734,2.279248e-17,NM_001169123,G2MvsS,AFF2