In [1]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scanpy as sc
import anndata as an
import scipy
import sklearn
import gget

sc.settings.verbosity = 3

In [3]:
fpath = "../resources/liu_2017_genes.csv"
df = pd.read_csv(fpath)
df['phase'].value_counts()
# df.head()

phase
SvsG0G1      1450
G2MvsG0G1    1245
G2MvsS        435
Name: count, dtype: int64

In [2]:
fpath = "/scratch/indikar_root/indikar1/shared_data/single_cell_fibroblast/scanpy/processed.anndata.h5ad"

adata = sc.read_h5ad(fpath)
adata.var_names = adata.var['gene_name'].values
adata.obs['cell'] = adata.obs.index.copy()
sc.logging.print_memory_usage()
adata

Memory usage: current 2.46 GB, difference +2.46 GB

AnnData object with n_obs × n_vars = 7748 × 14082
    obs: 'n_genes', 'cell', 'G1', 'G2M', 'S', 'pred_phase', 'seurat_S_score', 'seurat_G2M_score', 'is_kegg_score', 'whitfield_G1/S_score', 'whitfield_G2_score', 'whitfield_G2/M_score', 'whitfield_M/G1_score', 'whitfield_S_score', 'GO_G1_score', 'GO_G1/S_score', 'GO_G2_score', 'GO_G2/M_score', 'GO_M_score', 'GO_S_score', 'LIU_G2MvsG0G1_score', 'LIU_G2MvsS_score', 'LIU_SvsG0G1_score', 'cell_cycle_score', 'n_genes_by_counts', 'log1p_n_genes_by_counts', 'total_counts', 'log1p_total_counts', 'pct_counts_in_top_50_genes', 'pct_counts_in_top_100_genes', 'pct_counts_in_top_200_genes', 'pct_counts_in_top_500_genes', 'total_counts_mt', 'log1p_total_counts_mt', 'pct_counts_mt', 'total_counts_ribo', 'log1p_total_counts_ribo', 'pct_counts_ribo', 'total_counts_hb', 'log1p_total_counts_hb', 'pct_counts_hb', 'leiden', 'pred_G1', 'pred_S', 'pred_G2M', 'dpt_pseudotime'
    var: 'gene_name', 'Chromosome', 'Start', 'End', 'Strand', 'seurat_S', 'seurat_G2M', 'is_kegg', 'whitfield_G1/S', 'whitfield_G2', 'whitfield_G2/M', 'whitfield_M/G1', 'whitfield_S', 'GO_G1', 'GO_G1/S', 'GO_G2', 'GO_G2/M', 'GO_M', 'GO_S', 'LIU_G2MvsG0G1', 'LIU_G2MvsS', 'LIU_SvsG0G1', 'cell_cycle', 'n_cells', 'mt', 'ribo', 'hb', 'n_cells_by_counts', 'mean_counts', 'log1p_mean_counts', 'pct_dropout_by_counts', 'total_counts', 'log1p_total_counts', 'highly_variable', 'means', 'dispersions', 'dispersions_norm'
    uns: 'diffmap_evals', 'hvg', 'iroot', 'leiden', 'leiden_colors', 'log1p', 'neighbors', 'pca', 'pred_phase_colors', 'rank_genes_groups', 'umap'
    obsm: 'X_diffmap', 'X_pca', 'X_umap'
    varm: 'PCs'
    layers: 'counts', 'log_norm', 'norm'
    obsp: 'connectivities', 'distances'

In [6]:
df = adata.var.copy()
df = df[df['cell_cycle']].reset_index(drop=True)

columns = [
    'gene_name',
    'seurat_S',
    'seurat_G2M', 
    'is_kegg', 
    'whitfield_G1/S',
    'whitfield_G2',   
    'whitfield_G2/M',
    'whitfield_M/G1',
    'whitfield_S',
    'GO_G1',
    'GO_G1/S',
    'GO_G2',
    'GO_G2/M',
    'GO_M', 
    'GO_S',
    'LIU_G2MvsG0G1',
    'LIU_G2MvsS', 
    'LIU_SvsG0G1',
]

df = df[columns]
print(df.shape)
df.head()

(1462, 18)

,gene_name,seurat_S,seurat_G2M,is_kegg,whitfield_G1/S,whitfield_G2,whitfield_G2/M,whitfield_M/G1,whitfield_S,GO_G1,GO_G1/S,GO_G2,GO_G2/M,GO_M,GO_S,LIU_G2MvsG0G1,LIU_G2MvsS,LIU_SvsG0G1
0,RBP7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,AJAP1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,SLC25A33,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,CDCA8,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,CDKN2C,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
outpath = "../resources/all_cell_cycle.csv"
df.to_csv(outpath, index=False)
df.head()

,gene_name,seurat_S,seurat_G2M,is_kegg,whitfield_G1/S,whitfield_G2,whitfield_G2/M,whitfield_M/G1,whitfield_S,GO_G1,GO_G1/S,GO_G2,GO_G2/M,GO_M,GO_S,LIU_G2MvsG0G1,LIU_G2MvsS,LIU_SvsG0G1
0,RBP7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,AJAP1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,SLC25A33,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,CDCA8,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,CDKN2C,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
break

SyntaxError: 'break' outside loop (668683560.py, line 1)